*{
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat", sans-serif;
    text-align: left;
    font-weight: bold;
}

.img_inicio{
    width: auto;
    height: auto;
}

html {
    height: 100%;
    width: 100%;
}

body {
    background-color: #2f74a8
}

#logo{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#botones{
    display: flex;
    padding: 20px;
}

#botones > button{
    padding-left: 20px;
    padding-right: 20px;
    margin: 5px;
}

#navbar{
    display: flex;
    justify-content: space-between;
    background: orange;
    z-index: 100;
}


h1 {
    text-align: center;
    color: brown;
}

h3 {
    text-align: left;
}

#latimos:hover {
    background-color: rgba(16, 135, 165, 0.87);
}

#futbol_slogan:hover {
    background-color: rgba(245, 77, 10, 0.658);
}

h2:hover {
    color: chocolate;
    transition:0,5s ease;
  }

  a:hover {
    color: white;
    transition: 0.5s;
  }


#Jugadores,#Clubes,#CopasMundiales,#Estadios,#Hinchadas,#Torneos,#SeleccionesNacionales,#MasInformacion {
    padding-left: 20px;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#navbar {
    position: fixed; 
    width: 100%;
    background: orange;
    overflow: hidden;
}


#navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar a:hover {
    background-color: #ddd;
    color: black;
}

#content {
    padding: 100px 16px 16px; 
}


#scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    color: rgb(4, 97, 97);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: .3s;
  }
  
  #scrollTopBtn:hover {
    color: aqua;
    transition: 0.4s;
  }

  #scrollToTopBtn.show {
    display: block;
  }

.pantalla {
    display:none;
}

button:hover {
    background-color: rgb(255, 136, 0);
    transition: 0,1s ease;
}
#botones > button {
width: 107px;
height: 100px;
}
.boton {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  
  .boton:hover,
  .boton.seleccionado {
    background-color: #0056b3;
  }

  .boton {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }

  .boton:hover,
  .boton.seleccionado {
    background-color: #0056b3;
    transform: scale(1.1);
  }

#feed-contenedor {
    background-color: rgb(189,189,189);
    margin: 5rem 0;
    width: 100%;
    overflow: hidden;
}

.main-galery {
    width: 100%;
    display: flex;
    align-items: left;
    position: relative;
}

.chevron span {
    display: flex;
    align-items: left;
    position: absolute;
    z-index: 1;
    font-size: 2rem;
    color: rgb(157, 217, 238);
    width: 4.3rem;
    height: 4.7rem;
    background-color: rgba(23, 23, 23, 0.9);
    border-radius: 100%;
    cursor: pointer;
}

.chevron span:hover {
    background-color: rgba(23,23,23,0.6);
}

.chevron #prev{
    padding: right .5rem;
    justify-content: flex-end;
    left: -1.7rem;
}

.chevron #next{
    padding: right .5rem;
    justify-content: flex-start;
    right: -1.7rem;
}

.galery{
    display: flex;
    flex-wrap: nowrap;
}

.image{
min-width: 20%;
height: 237px;
position: relative;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.image:hover .opacity-hover{
    width: 100%;
}

.caption{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    transform: translateY(300px);
    transition: transform 100ms linear;
}

.opacity-hover:hover .caption{
    transform: translateY(0px);
}

.caption p{
    color: white;
    width: 80%;
}

.opacity-hover{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    transition: background-color 300ms linear;
}

.opacity-hover:hover{
    background-color: rgba(2,2,2,0.8);
}

.contenedor-galery{
    width: 100%;
    overflow: hidden;
    scroll-behavior: smooth;
}

*{
    font-family: "calibri";
}

h1 {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.jugadores:hover {
    color: orange;
}

#playerInfo {
    display: flex;
}

article {
  display: flex;
  margin-inline: 6em;
  gap: 8em;
  row-gap: 2em;
  margin-top: 10em;
}

section {
  width: 12em;
  display: flex;
  flex-direction: column;
}

section > h2 {
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.content > div {
  height: 16em;
  background: #d9d9d9;

  .image {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
  }

  .image > img {
    width: auto;
    height: 100%;
  }

  footer {
    height: 20%;
    background: #7c7c7c;

    display: grid;
    place-content: center;
  }
}