*{
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
  text-align: left;
  font-weight: bold;
}

#jugadoresInfo{
  display: flex;
  justify-content: space-between;
  
}

html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #2f74a8
}

#logo{
  display: flex;
  flex-direction: column;
  padding: 20px;
}

#botones{
  display: flex;
  padding: 20px;
}

#botones > button{
  padding-left: 20px;
  padding-right: 20px;
  margin: 5px;
}

#navbar{
  display: flex;
  justify-content: space-between;
  background: orange;
  z-index: 102;
  position: fixed;
  top: 0px;
}

h1 {
  text-align: center;
  color: brown;
}

.Gatorade{
align-items: center;
}

h3 {
  text-align: left;
}

#latimos:hover {
  background-color: rgba(16, 135, 165, 0.87);
}

#futbol_slogan:hover {
  background-color: rgba(245, 77, 10, 0.658);
}

h2:hover {
  color: chocolate;
  transition:0,5s ease;
}

a:hover {
  color: white;
  transition: 0.5s;
}


#Jugadores,#Clubes,#CopasMundiales,#Estadios,#Hinchadas,#Torneos,#SeleccionesNacionales,#MasInformacion {
  padding-left: 20px;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

#navbar {
  position: fixed; 
  width: 100%;
  background: orange;
  overflow: hidden;
}


#navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#content {
  padding: 100px 16px 16px; 
}


#scrollToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  color: rgb(4, 97, 97);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: .3s;
}

#scrollTopBtn:hover {
  color: aqua;
  transition: 0.4s;
}

#scrollToTopBtn.show {
  display: block;
}

.pantalla {
  display:none;
}

#jugadoresInfo {
display: none;
}

button:hover {
  background-color: rgb(255, 136, 0);
  transition: 0,1s ease;
  transform: scale(1.15);
}
#botones > button {
width: 107px;
height: 100px;
}
.boton {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}


.boton:hover, .boton.seleccionado {
  background-color: #0056b3;
}

.boton {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.boton:hover, .boton.seleccionado {
  background-color: #0056b3;
  transform: scale(1.1);
}

.caption{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  transform: translateY(300px);
  transition: transform 100ms linear;
}

.opacity-hover:hover .caption{
  transform: translateY(0px);
}

.caption p{
  color: white;
  width: 80%;
}

.opacity-hover{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  transition: background-color 300ms linear;
}

.opacity-hover:hover{
  background-color: rgba(2,2,2,0.8);
}


h1 {
font-size: 32px;
font-weight: bold;
text-align: center;
}

.jugadores:hover {
  color: orange;
}

#Gatorade:hover{
background-color: rgb(255, 208, 0);
}

article {
display: flex;
margin-inline: 6em;
gap: 8em;
row-gap: 2em;
margin-top: 10em;
}

section {
width: 12em;
display: flex;
flex-direction: column;
}

section > h2 {
text-align: center;
}

.content {
display: flex;
flex-direction: column;
gap: 2em;
}

.content > div {
height: 16em;
background: #d9d9d9;
}

.content > div > footer {
position: relative;
z-index: 100;
}

.content > div > footer {
display: flex;
align-items: center;
}

.content > div > footer > h3 {
font-size: auto;
}

.image {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
}

.image > img {
  width: auto;
  height: 100%;
}

footer {
  height: 20%;
  background: #7c7c7c;
  display: grid;
  place-content: center;
  
}

.image:hover{
transform: scale(1.052);
background-color: orange;
}

.overlay {
display: none;
position: fixed;
inset: 0;
background: rgba(0, 0, 0, 0.5);
z-index: 9;
}

.modal.open,
.overlay.open{
display: block;
}

.modal{
display: none;
position: fixed;
padding: 0.5rem;
top: 50%;
left: 50%;
translate: -50% -50%;
background: white;
border-radius: 0.25rem;
z-index: 10;
}

.Sponsors:hover {
transform: scale(1.18);
transition: 0.5s;
}

.Sponsors{
    display: inline;
    align-items: center;
    transform: scale(1.62);
    transition: transform 100ms;
}

.marcas{
 color: white;
}

.image:hover{
  transform: scale(1.052);
  background-color: orange;
}

.escudos:hover{
  transform: scale(1.15);
  transition: 0.5s;
}