.cuadrado {
    width: 200px;
    height: 200px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    margin: 20px;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
  }
  
  .cuadrado h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .cuadrado p {
    font-size: 14px;
    margin-bottom: 20px;
  }
  
  .cuadrado img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }